body {
    position: relative;
}

.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    /*margin: 0 auto;*/
    padding: 50px 0px 50px 0px;
    /*border-bottom: 1px ridge;*/
    min-height: 500px;
}

.footer {
    background-color: black;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

h5,
address,
.copyright {
    color: white;
}

.parallax1 {
    /* background-image: url("/img/forest.jpeg"); */
    height: 100vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    color: white;
    text-align: center;
}


.parallax1Img {
    background-image: url("/img/forest.jpeg");
}

.parallax2 {
    /* background-image: url("/img/grey2.jpg"); */
    height: 70vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    /*scroll to fixed - to add parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.parallax2Img {
    background-image: url("/img/grey2.jpg");
}

.parallax3 {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.parallax3Img{
    background-image: url("/img/binary.jpg") ;
}

.parallax4 {
    height: 10vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: black;
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    /*-webkit-transition: background 0.3s ease-in-out;*/
    /*-moz-transition: background 0.3s ease-in-out;*/
    /*transition: background 0.3s ease-in-out;*/
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}

.btn-circle-black {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: black;
}

.nav-pills>li>a.active {
    background-color: #838080 !important;
}

.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
}

.navbar-brand {
    font-family: 'Frijole', cursive;
}

.navbar-brand:hover {
    background-color: #737482;
    color: white;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #737482;
    color: white;
}

#main,
#about,
#portfolio,
#contact,
h1,
h2,
h3+p {
    font-family: 'Miltonian Tattoo', cursive;
    font-size: 150%;
}

img {
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

.card-footer {
    color: white;
}

#github:hover{
    background-color: white;
    color: black;
}

#google:hover{
    background-color: red;
}

.jumbotron {
    /* height: 100vh; */
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

